<template>
<div>
  <quill-editor
  :value="value"
  @input="$emit('input', $event)"
  />
</div>
</template>

<script>
import Quill from "quill";
const FONT_SIZES = ["10pt", "12pt", "14pt", "16pt", "18pt", "20pt", "24pt", "30pt", "32pt", "36pt", "72pt"];
const FONT_FAMILIES = ["Arial", "Times New Roman", "Courier New"];
const SizeStyle = Quill.import("attributors/style/size");
SizeStyle.whitelist = FONT_SIZES;
Quill.register(SizeStyle, true);
const AlignStyle = Quill.import("attributors/style/align");
Quill.register(AlignStyle, true);
const FontStyle = Quill.import("attributors/style/font");
FontStyle.whitelist = FONT_FAMILIES;
Quill.register(FontStyle, true);
export default {
name: "Creation",
  props: {
    value: {
      type: String,
      default: "",
    },
  },
}
</script>

<style lang="scss" type="scss">
.quill-editor{
  min-height: 286mm !important;
  overflow-x: auto;
  .ql-container{
    width: 207mm!important;
    margin: 0 auto;
  }
  .ql-editor{
    border: none!important;
    margin-top: 10px;
    padding: 10mm;
    min-height: 286mm !important;
    box-shadow: 0px 0px 10px rgb(45, 45, 45 )!important;
  }
}
</style>