<template>
<v-container>
  <v-layout row class="text-xs-center">
    <v-flex row class="mb-10 justify-space-between align-center" style="width: 100%">
      <h3>{{document.name}}</h3>
      <v-btn @click.stop="dialog = true" primary>Відіслати документ</v-btn>
    </v-flex>
    <template v-if="document.type === 'created'">
      <div class="document" v-html="document.content"/>
    </template>
    <template v-else-if="document.type === 'uploaded' && document.fileId">
      <div style="width: 100%" class="d-flex">
        <object
            class="viewer__pdf"
            type="application/pdf"
            :data="fileUrl"
            style="width: 70%; height: 100vh; margin: 0 auto"
        >
          <iframe
              :src="fileUrl"
              style="border: none; width: 100%; height: -webkit-fill-available;"
          >
            Sorry, your browser does not support this feature
          </iframe>
        </object>
        <ocr v-if="initializeOCR" style="width: 30%;"/>
      </div>
    </template>
  </v-layout>
  <v-dialog
      v-model="dialog"
      max-width="600"
  >
    <v-card>
      <v-card-title class="headline">
        Відправлення документа на підпис
      </v-card-title>
      <v-card-text>
        <v-form>
          <v-select
              v-model="vm.recipient"
              :items="users | withoutCurrent(currentUser.id) | structure"
              label="Отримувач"
          />
          <v-checkbox
              v-model="vm.sendEmailNotification"
              :label="'Повідомити через E-Mail'"
          ></v-checkbox>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-btn
            color="blue darken-1"
            text
            @click="dialog = false"
        >
          Відмінити
        </v-btn>

        <v-btn
            color="green darken-1"
            text
            @click="sendDocument"
        >
          Зберегти
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</v-container>
</template>

<script>
import {mapState} from "vuex"
import Ocr from "./ocr";
export default {
  name: "Index",
  components: {Ocr},
  props: {
    id: {
      type: [Number, String],
      required: true
    },
  },
  filters: {
    structure: (options) => {
      return options.map(item => ({text: `${item.lastName} ${item.firstName}`, value: item.id}));
    },
    withoutCurrent: (options, id) => {
      return options.filter(item => item.id !== id);
    }
  },
  data() {
    return {
      dialog: false,
      vm: {},
      initializeOCR: false,
    }
  },
  computed: {
    ...mapState({
      document: state => state.document.document,
      users: state => state.user.list,
      currentUser: state => state.user.currentUser,
    }),
    fileUrl(){
      return `http://localhost:3000/attachments/${this.document.fileId}`
    },
  },
  mounted() {
    this.$store.dispatch("document/getDocument", {id: this.id}).then(response=>{
      this.initializeOCR = response.mimeType.includes("image");
    })
    this.$store.dispatch("user/getList", )
    //TODO: This left
    // Tesseract.recognize(
    //     this.fileUrl,
    //     'eng+rus+ukr',
    //     { logger: m => console.log(m) }
    // ).then(({ data: { text } }) => {
    //   console.log(text);
    // })
  },
  methods: {
    sendDocument() {
      const payload = {documentId: this.document._id, sender: this.currentUser.id, ...this.vm};
      this.$store.dispatch("document/send", payload).finally(()=>{
        this.dialog = false;
      })
    }
  },
}
</script>

<style lang="scss" type="scss">
.document{
  min-height: 286mm !important;
  width: 207mm!important;
  margin: 10px auto;
  padding: 10mm;
  box-shadow: 0px 0px 10px rgb(45, 45, 45 )!important;
  img{
    max-width: 100%;
  }
}
</style>