<template>
<div>
  <template v-if="!text">
    <div class="column" style="margin-top: 100px">
      <div class="text-center">
        <span v-if="!progress">Ініціалізація модуля оптичного розпізнавання символів</span>
        <span v-if="progress">Оброблено {{progress}}%</span>
      </div>
      <div class="text-center">
        <v-progress-circular
            indeterminate
            color="primary"
        ></v-progress-circular>
      </div>
    </div>
  </template>
  <template v-else>
    <h3>Розпізнаний текст</h3>
    <span>{{text}}</span>
  </template>
</div>
</template>

<script>
import {mapState} from "vuex";

export default {
name: "ocr",
  data() {
    return {
      progress: null,
      text: null,
    }
  },
  computed: {
    ...mapState({
      document: state => state.document.document,
    }),
    fileUrl(){
      return `http://localhost:3000/attachments/${this.document.fileId}`
    },
  },
  mounted() {
    Tesseract.recognize(
        this.fileUrl,
        'eng+rus+ukr',
        { logger: m => {
          console.log(m);
          if(m.status === "recognizing text" && m.progress){
            this.progress = (m.progress * 100).toFixed(0);
          }
          } }
    ).then(({ data: { text } }) => {
      this.text = text;
    })
  }
}
</script>

<style scoped>

</style>