<template>
  <v-container>
    <v-layout row class="text-xs-center">
      <v-flex row class="mb-10 justify-space-between align-center" style="width: 100%">
        <h3>{{document.name}}</h3>
      </v-flex>
      <template v-if="document.type === 'created'">
        <div class="document" v-html="document.content"/>
      </template>
      <template v-else-if="document.type === 'uploaded' && document.fileId">
        <object
            class="viewer__pdf"
            type="application/pdf"
            :data="fileUrl"
            style="width: 70%; height: 100vh; margin: 0 auto"
        >
          <iframe
              :src="fileUrl"
              style="border: none; width: 100%; height: -webkit-fill-available;"
          >
            Sorry, your browser does not support this feature
          </iframe>
        </object>
      </template>
      <v-btn dark fixed left bottom small color="red" @click="reject" style="margin-left: 60px;">
        Відхилити
      </v-btn>
      <v-btn dark fixed right bottom small color="green" @click="dialogSign = true" style="margin-right: 60px;">
        Підписати
      </v-btn>
    </v-layout>
    <v-dialog v-model="dialogSign" max-width="580px">
      <v-card>
        <v-card-title class="headline">Підписати документ?</v-card-title>
        <v-card-text>
          <signature
              v-model="signature"
          />
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialogSign = false">Ні</v-btn>
          <v-btn color="blue darken-1" text @click="sign">Так</v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import {mapState} from "vuex"
import Signature from "../../components/Signature";
export default {
  name: "Index",
  components: {Signature},
  props: {
    id: {
      type: [Number, String],
      required: true
    },
    _id: {
      type: [Number, String],
      required: true
    },
  },
  data() {
    return {
      dialog: false,
      dialogSign: false,
      signature: null,
      vm: {},
    }
  },
  computed: {
    ...mapState({
      document: state => state.document.document
    }),
    fileUrl(){
      return `http://localhost:3000/attachments/${this.document.fileId}`
    },
  },
  mounted() {
    this.$store.dispatch("document/getDocument", {id: this.id})
  },
  methods: {
    sign() {
      this.$store.dispatch("document/sign", {id: this._id, payload: {signature: this.signature}}).then(res=>{
        this.$router.push({name: "Profile"});
      })
    },
    reject(){},
  },
}
</script>

<style lang="scss" type="scss">
.document{
  min-height: 286mm !important;
  width: 207mm!important;
  margin: 10px auto;
  padding: 10mm;
  box-shadow: 0px 0px 10px rgb(45, 45, 45 )!important;
  img{
    max-width: 100%;
  }
}
</style>