<template>
  <v-app-bar
      app
      color="primary"
      dark
      :key="key"
  >
    <div class="d-flex align-center">
      <v-img
          alt="Logo"
          class="shrink mr-2"
          contain
          src="../assets/logo.png"
          transition="scale-transition"
          width="40"
      />
    </div>
    <div class="d-flex align-center ml-5" v-if="isAuthenticated">
     <v-btn text :to="{name: 'Documents'}">Всі документи</v-btn>
    </div>
    <v-spacer></v-spacer>
    <template v-if="isAuthenticated">
      <v-icon style="margin-right: 50px;" @click="$router.push({name: 'NewDocument', params: {type: 'created'}})">
        mdi-plus
      </v-icon>
      <v-menu offset-y>
        <template v-slot:activator="{ on, attrs }">
          <v-icon
              v-bind="attrs"
              v-on="on"
          >
            mdi-account
          </v-icon>
        </template>
        <v-list>
          <v-list-item>
            <v-btn
                text
                :to="{name: 'Profile'}"
            >
              <span class="mr-2">Кабінет</span>
            </v-btn>
          </v-list-item>
          <v-list-item>
            <v-btn
                text
                @click="logout"
            >
              <span class="mr-2">Вихід</span>
            </v-btn>
          </v-list-item>
        </v-list>
      </v-menu>
    </template>
  </v-app-bar>

</template>

<script>
import {isAuthenticated, setAuthToken} from "../utils";

export default {
name: "NavBar",
  data() {
    return {
      key: 0
    }
  },
  computed: {
    isAuthenticated() {
      return isAuthenticated();
    }
  },
  mounted() {
  if(isAuthenticated()) this.$store.dispatch("user/getUserInfo");
  },
  methods: {
    logout() {
      setAuthToken("");
      // this.$router.push({name: "Login"});
      window.location = "/";
    }
  },
}
</script>

<style scoped>

</style>