<template>
  <div class="mt-4 pb-4">
    <div class="canvas__container">
      <canvas id="canvas" />
      <button
          type="button"
          class="clear-btn"
          @click="clearSignature"
      >
        <!--suppress CheckEmptyScriptTag -->
        <div class="btn__line" />
        <!--suppress CheckEmptyScriptTag -->
        <div class="btn__line" />
      </button>
      <input
          v-model="value"
          type="hidden"
          :name="name"
      >
      <span
          class="error"
      >
        {{ error }}
      </span>
    </div>
  </div>
</template>

<script>
import SignaturePad from "signature_pad";

let signature;
let canva;

export default {
  name: "Signature",
  components: {
    SignaturePad,
  },
  props: {
    name: { type: String, default: "" },
    value: { type: String, default: "" },
    error: { type: String, default: "" },
  },
  data() {
    return {
      signature_data: null,
    };
  },
  mounted() {
    canva = document.getElementById("canvas");
    signature = new SignaturePad(canva, {
      backgroundColor: "transparent",
      penColor: "black",
      onEnd: this.onEnd,
    });
    this.resizeCanvas();
    window.addEventListener("resize", this.resizeCanvas);
  },
  methods: {
    clearSignature() {
      this.signature_data = null;
      signature.clear();
      this.$emit("input", this.signature_data);
    },
    resizeCanvas() {
      const cont = document.querySelector(".canvas__container");
      canva.setAttribute("width", `${cont.clientWidth || 532}px`);
      canva.setAttribute("height", `${cont.clientHeight || 400}px`);
    },
    onEnd() {
      this.signature_data = signature.toDataURL();
      this.$emit("input", this.signature_data);
    },
  },
};
</script>

<style lang="scss" type="scss" scoped>
.canvas__container {
  width: 100%;
  background: rgba(black ,0.05);
  margin: 0 auto;
  position: relative;
  height: 200px;
  .error {
    font-size: 12px;
    color: red;
  }
  @media(min-width: 650px) {
    height: 350px;
  }
  @media(min-width: 1200px) {
    height: 400px;
  }
  &:before {
    content: "";
    position: absolute;
    width: calc(100% - 40px);
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    background-color: rgba(black, 0.25);
  }
}
.clear-btn {
  position: absolute;
  bottom: 30px;
  left: 20px;
  width: 20px;
  height: 20px;
  padding: 0;
  background-color: transparent;
  outline: none;
  box-shadow: none;
  border: 0;
  cursor: pointer;
}
.btn__line {
  width: 20px;
  height: 2px;
  background-color: black;
  border-radius: 50px;
  transform: rotate(45deg) translateY(1px);
  &:nth-child(2) {
    transform: rotate(-45deg) translateY(-1.5px);
  }
}
</style>