<template>
  <div>
    <v-btn class="mr-5"
        color="red"
           x-small
    >
      Відхилити
    </v-btn>
    <v-btn
        color="green"
        x-small
        @click="dialogSign = true"
    >
      Підписати
    </v-btn>
    <v-dialog v-model="dialogSign" max-width="580px">
      <v-card>
        <v-card-title class="headline">Підписати документ?</v-card-title>
        <v-card-text>
          <signature
          v-model="signature"
          />
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialogSign = false">Ні</v-btn>
          <v-btn color="blue darken-1" text @click="sign">Так</v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import Signature from "../../../components/Signature";
export default {
  name: "ActionsSlot",
  components: {Signature},
  props: {
    item: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      dialogSign: false,
      signature: null,
    }
  },
  computed: {
    isCreated() {
      return this.item.type === "created";
    }
  },
  methods: {
    sign() {

    }
  },
}
</script>

<style scoped>

</style>