<template>
  <div><v-btn text :to="{name: 'DocumentSigning', params: {id: item.documentId, _id: item._id}}">{{name}}</v-btn></div>
</template>

<script>
export default {
  name: "NameSlot",
  props: {
    item: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      name: ""
    }
  },
  mounted() {
    this.$store.dispatch("document/getDocument", {id: this.item.documentId}).then((response)=>{
      this.name = response.name;
    })
  }
}
</script>

<style scoped>

</style>