<template>
  <div>{{value}}</div>
</template>

<script>
export default {
  name: "SentAtSlot",
  props: {
    item: {
      type: Object,
      required: true,
    },
  },
  computed: {
    value() {
      const date =  new Date( this.item.createdAt)
      return date.toLocaleString();
    }
  },
}
</script>

<style scoped>

</style>