<template>
  <div id="app">
    <v-container>
      <v-layout column class="text-xs-center">
        <v-flex offset-xs3 xs6 class="grey lighten-4 mb-4">
          <v-tabs>
            <v-tab :to="{name: 'AdminPanel', params: {type: 'users'}}">Користувач</v-tab>
            <v-tab :to="{name: 'AdminPanel', params: {type: 'tags'}}">Теги</v-tab>
          </v-tabs>
        </v-flex>
      </v-layout>
      <v-layout column class="text-xs-center">
        <v-flex class="grey lighten-4 mb-4">
          <users v-if="type==='users'"/>
          <tags v-else/>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import Users from "./Users/Index";
import Tags from "./Tags/Index";
export default {
  name: 'AdminPanel',
  components: {Tags, Users},
  props: {
    type: {
      type: String,
      default: "users",
    },
  },
  data() {
    return {
      name: "",
      content: "",
      fileId: "",
      tags: [],
      tagsOptions: ["Tag 1", "Tag 2", "Tag 3", "Tag 4", "Tag 5", "Tag 6"]
    }
  },
  methods: {
    redirectTo(type) {
      this.$router.push({name: "NewDocument", params: {type}})
    },
    save() {
      this.$store.dispatch("document/save", {content: this.content, type: this.type, name: this.name, fileId: this.fileId});
    }
  },
}
</script>
