<template>
  <div>
    <v-btn
        icon
        color="indigo"
    >
      <v-icon>mdi-content-save</v-icon>
    </v-btn>
    <v-btn
        icon
        color="indigo"
    >
      <v-icon color="red">mdi-trash-can</v-icon>
    </v-btn>
    <v-btn
        v-if="isCreated"
        icon
        color="indigo"
    >
      <v-icon>mdi-pencil</v-icon>
    </v-btn>
  </div>
</template>

<script>
export default {
  name: "ActionsSlot",
  props: {
    item: {
      type: Object,
      required: true,
    },
  },
  computed: {
    isCreated() {
      return this.item.type === "created";
    }
  },
}
</script>

<style scoped>

</style>