<template>
  <div><v-btn text :to="{name: 'DocumentsDetailed', params: {id: item._id}}">{{item.name}}</v-btn></div>
</template>

<script>
export default {
  name: "NameSlot",
  props: {
    item: {
      type: Object,
      required: true,
    },
  },
}
</script>

<style scoped>

</style>