<template>
  <div><v-badge v-for="tag in tags" :content="tag" inline/></div>
</template>

<script>
const TAGS=["Tag 1", "Tag 2", "Tag 3", "Tag 4", "Tag 5", "Tag 6"];
function getRandomInt(min, max) {
  min = Math.ceil(min);
  max = Math.floor(max);
  return Math.floor(Math.random() * (max - min) + min);
}
export default {
  name: "TagsSlot",
  props: {
    item: {
      type: Object,
      required: true,
    },
  },
  computed: {
    tags() {
      const tags = [];
      [...Array(getRandomInt(1,4)).keys()].forEach((item)=>{
        tags.push(TAGS[getRandomInt(0,6)])
      })
      return tags;
    }
  },
}
</script>

<style scoped>

</style>