<template>
  <v-container>
    <v-layout row class="text-xs-center">
      <vue-dropzone ref="myVueDropzone" id="dropzone" :options="dropzoneOptions" @vdropzone-success="onSuccess"></vue-dropzone>
    </v-layout>
  </v-container>
</template>

<script>
import vue2Dropzone from 'vue2-dropzone'
import 'vue2-dropzone/dist/vue2Dropzone.min.css'

export default {
  name: "Uploading",
  components: {
    vueDropzone: vue2Dropzone
  },
  data() {
    return {
      dropzoneOptions: {
        url: 'http://localhost:3000/attachments',
        thumbnailWidth: 150,
        maxFiles: 1,
      }
    }
  },
  methods: {
    onSuccess(file, response) {
      this.$emit('input', response.id)
    }
  },
}
</script>

<style lang="scss" type="scss">
#dropzone{
  width: 100%;
}
</style>