<template>
  <div id="app">
    <v-container>
      <v-layout column class="text-xs-center">
        <v-flex offset-xs3 xs6 class="grey lighten-4 mb-4">
          <v-tabs>
            <v-tab :to="{name: 'NewDocument', params: {type: 'created'}}">Створення</v-tab>
            <v-tab :to="{name: 'NewDocument', params: {type: 'uploaded'}}">Завантаження</v-tab>
          </v-tabs>
        </v-flex>
        <v-flex>
            <v-flex row>
              <v-col cols="8">
                <v-text-field v-model="name" label="Назва"/>
              </v-col>
              <v-select
                  v-model="tags"
                  :items="tagsOptions"
                  chips
                  label="Теги"
                  multiple
              />
            </v-flex>
          <creation v-if="type === 'created'" v-model="content"/>
          <uploading v-else v-model="fileId"/>
          <v-btn fab dark fixed right bottom small color="indigo" @click="save">
            <v-icon>mdi-content-save</v-icon>
          </v-btn>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import Creation from "./Creation/Index";
import Uploading from "./Uploading/Index";
import {mapState} from "vuex";
export default {
  name: 'NewDocument',
  components: {Uploading, Creation},
  props: {
    type: {
      type: String,
      default: "created",
    },
    id: {
      type: String,
      default: "",
    },
  },
  data() {
    return {
      name: "",
      content: "",
      fileId: "",
      tags: [],
      tagsOptions: ["Tag 1", "Tag 2", "Tag 3", "Tag 4", "Tag 5", "Tag 6"]
    }
  },
  computed: {
    ...mapState({
      currentUser: state => state.user.currentUser,
    })
  },
  mounted() {
    if(this.id){
      this.$store.dispatch("document/getDocument", {id: this.id}).then((response) => {
        this.content = response.content;
        this.name = response.name;
        this.tags = response.tags;
      })
    }
  },
  methods: {
    redirectTo(type) {
      this.$router.push({name: "NewDocument", params: {type}})
    },
    save() {
      const payload = {content: this.content, type: this.type, name: this.name, fileId: this.fileId, authorId: this.currentUser.id, tags: this.tags}
      if(!this.id) {
        this.$store.dispatch("document/save", payload).then(response => {
          this.$router.push({name: "DocumentsDetailed", params: {id: response._id}})
        });
      } else {
        this.$store.dispatch("document/update", {id: this.id, payload}).then(response => {
          this.$router.push({name: "DocumentsDetailed", params: {id: this.id}})
        });
      }
    }
  },
}
</script>
