<template>
  <v-data-table
      :headers="headers"
      :items="users"
      sort-by="calories"
      class="elevation-1"
  >
    <template v-slot:top>
      <v-toolbar
          flat
      >
        <v-toolbar-title>Користувачі</v-toolbar-title>
        <v-divider
            class="mx-4"
            inset
            vertical
        ></v-divider>
        <v-spacer></v-spacer>
        <v-dialog
            v-model="dialog"
            max-width="500px"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn
                color="primary"
                dark
                class="mb-2"
                v-bind="attrs"
                v-on="on"
            >
              Новий користувач
            </v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-form style="width: 100%;">
                    <v-text-field v-model="vm.firstName" prepend-icon="mdi-account" name="first-name" label="Ім'я"></v-text-field>
                    <v-text-field v-model="vm.lastName" prepend-icon="mdi-account" name="last-name" label="Прізвище"></v-text-field>
                    <v-text-field v-model="vm.email" prepend-icon="mdi-account" name="Email" label="E-Mail"></v-text-field>
                    <v-select
                        v-model="vm.role"
                        :items="['User', 'Admin']"
                        label="Роль"
                    />
                    <v-text-field v-model="vm.password" prepend-icon="mdi-account" name="Email" label="Пароль"></v-text-field>
                    <v-text-field v-model="vm.passwordConfirmation" prepend-icon="mdi-account" name="Email" label="Підтвердження пароля"></v-text-field>
                    <v-file-input
                        label="Фото профілю"
                        filled
                        prepend-icon="mdi-camera"
                    ></v-file-input>
                  </v-form>
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                  color="blue darken-1"
                  text
                  @click="close"
              >
                Відмінити
              </v-btn>
              <v-btn
                  color="blue darken-1"
                  text
                  @click="save"
              >
                Зберегти
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog v-model="dialogDelete" max-width="580px">
          <v-card>
            <v-card-title class="headline">Ви впевнені, що хочете видалити користувача з системи?</v-card-title>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="closeDelete">Ні</v-btn>
              <v-btn color="blue darken-1" text @click="deleteItemConfirm">Так</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-slot:item.actions="{ item }">
      <v-icon
          small
          class="mr-2"
          @click="editItem(item)"
      >
        mdi-pencil
      </v-icon>
      <v-icon
          small
          @click="deleteItem(item)"
      >
        mdi-delete
      </v-icon>
    </template>
    <template v-slot:no-data>
      <v-btn
          color="primary"
          @click="initialize"
      >
        Reset
      </v-btn>
    </template>
    <template v-slot:item.createdAt="{item}">
      <created-at-slot
      :item="item"
      />
    </template>
  </v-data-table>
</template>

<script>
import CreatedAtSlot from "../Slots/CreatedAtSlot";
export default {
  name: "Users",
  components: {CreatedAtSlot},
  data() {
    return {
      dialog: false,
      dialogDelete: false,
      headers: [
        {
          text: 'Ім\'я',
          align: 'start',
          value: 'firstName',
        },
        { text: 'Прізвище', value: 'lastName' },
        { text: 'E-Mail', value: 'email' },
        { text: 'Роль', value: 'role' },
        { text: 'Створено в', value: 'createdAt' },
        { text: 'Дії', value: 'actions', sortable: false },
      ],
      editedIndex: -1,
      vm: {},
    }
  },
  computed: {
    users(){
      return [
        {
          _id: 1,
          firstName: "Olexandr",
          lastName: "Pedchenko",
          role: "user",
          email: "olexandrpedchenko@gmail.com",
          createdAt: "2020-12-10T16:35:42.421Z",
        },
        {
          _id: 2,
          firstName: "John",
          lastName: "Doe",
          role: "user",
          email: "johndoe@email.com",
          createdAt: "2020-12-11T17:41:42.421Z",
        },
        {
          _id: 3,
          firstName: "New",
          lastName: "Dude",
          role: "user",
          email: "dude@email.com",
          createdAt: "2020-12-06T23:07:15.421Z",
        },
        {
          _id: 1,
          firstName: "Another",
          lastName: "Account",
          role: "admin",
          email: "newadmin@newadmin.com",
          createdAt: "2020-12-11T17:41:42.421Z",
        }
      ];
    },
    formTitle () {
      return this.editedIndex === -1 ? 'Новий користувач' : 'Редагування користувача'
    },
  },

  watch: {
    dialog (val) {
      val || this.close()
    },
    dialogDelete (val) {
      val || this.closeDelete()
    },
  },

  created () {
  },

  methods: {
    editItem (item) {
      this.editedIndex = this.users.indexOf(item)
      // this.editedItem = Object.assign({}, item)
      this.dialog = true
    },

    deleteItem (item) {
      this.editedIndex = this.users.indexOf(item)
      // this.editedItem = Object.assign({}, item)
      this.dialogDelete = true
    },

    deleteItemConfirm () {
      this.desserts.splice(this.editedIndex, 1)
      this.closeDelete()
    },

    close () {
      this.dialog = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },

    closeDelete () {
      this.dialogDelete = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },

    save () {
      if (this.editedIndex > -1) {
        Object.assign(this.desserts[this.editedIndex], this.editedItem)
      } else {
        this.desserts.push(this.editedItem)
      }
      this.close()
    },
  },
}
</script>

<style scoped>

</style>