<template>
  <div>
    <v-container>
      <v-layout row class="text-xs-center">
        <v-flex offset-xs3 xs6 class="grey lighten-4">
          <v-container style="position: relative;top: 13%;" class="text-xs-center">
            <v-card flat>
              <v-card-title primary-title>
                <h4>Реєстрація</h4>
              </v-card-title>
              <v-card-subtitle>
                <span>Вже маєте аккаунт користувача?</span><v-btn text :to="{name: 'Login'}">Авторизуватися</v-btn>
              </v-card-subtitle>
              <v-form>
                <v-text-field v-model="firstName" prepend-icon="mdi-account" name="first-name" label="Ім'я"></v-text-field>
                <v-text-field v-model="lastName" prepend-icon="mdi-account" name="last-name" label="Прізвище"></v-text-field>
                <v-text-field v-model="email" prepend-icon="mdi-account" name="Email" label="E-Mail"></v-text-field>
                <v-text-field v-model="password" prepend-icon="mdi-lock" name="Password" label="Пароль" type="password"></v-text-field>
                <v-text-field v-model="passwordConfirmation" prepend-icon="mdi-lock" name="PasswordConfirmation" label="Підтвердження пароля" type="password"></v-text-field>
                <v-card-actions>
                  <v-btn primary large block @click="signup" :disabled="!password || password !== passwordConfirmation">Зареєструватися</v-btn>
                </v-card-actions>
              </v-form>
            </v-card>
          </v-container>
        </v-flex>
      </v-layout>
    </v-container>
    <v-snackbar
        v-model="snackbar"
        :timeout="3000"
        :right="true"
        :top="true"
    >
      {{ messageText }}

      <template v-slot:action="{ attrs }">
        <v-btn
            color="pink"
            text
            v-bind="attrs"
            @click="snackbar = false"
        >
          Close
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script>
import {isAuthenticated} from "../../utils";

export default {
  name: 'Signup',
  data() {
    return {
      email: "",
      password: "",
      passwordConfirmation: "",
      snackbar: false,
      messageText: "",
      firstName: "",
      lastName: "",
    }
  },
  beforeRouteEnter(to, from, next){
    if (isAuthenticated()) next({name: "Profile"})
    else next();
  },
  methods: {
    signup() {
      this.$store.dispatch("auth/signup", {firstName: this.firstName, lastName: this.lastName, email: this.email, password: this.password}).then(()=>{
        window.location = "/profile";
      }, ({message})=>{
        this.messageText = message;
        this.snackbar = true;
      });
    }
  },
}
</script>
