<template>
  <div id="app">
    <v-container>
      <v-layout row class="text-xs-center">
        <v-flex xs2 class="lighten-4" style="position:relative;"  >
          <img
              :src="`https://randomuser.me/api/portraits/men/${randomId}.jpg`"
              style="width: 150px; height: 150px; border-radius: 50%"
          />
          <v-icon style="position: absolute; left: -10px; transform: rotateY(180deg)" @click.stop="dialog = true">mdi-pencil</v-icon>
        </v-flex>
        <v-flex xs4 class="lighten-4 ml-4">
          <h2>{{currentUser.firstName}} {{currentUser.lastName}} <v-badge :content="currentUser.role" offset-y="-10" /></h2>
          <v-icon class="mr-2">mdi-email</v-icon>{{currentUser.email}}<br>
          <v-btn v-if="isAdmin" class="mt-5" :to="{name: 'AdminPanel'}">Панель адміністрування</v-btn>
        </v-flex>
      </v-layout>
      <v-layout row class="text-xs-center mt-16">
        <v-flex class="lighten-4">
          <v-tabs>
            <v-tab @click="type = 'pending'">Документи, що очікують на підпис</v-tab>
            <v-tab @click="type = 'signed'">Підписані документи</v-tab>
          </v-tabs>
          <pending-documents v-if="type === 'pending'"/>
          <signed-documents v-if="type === 'signed'" />
        </v-flex>
      </v-layout>
    </v-container>
    <v-dialog
        v-model="dialog"
        max-width="300"
    >
      <v-card>
        <v-card-title class="headline">
          Редагування профілю
        </v-card-title>
        <v-card-text>
          <v-form>
            <v-text-field v-model="vm.firstName" prepend-icon="mdi-account" name="first-name" label="Ім'я"></v-text-field>
            <v-text-field v-model="vm.lastName" prepend-icon="mdi-account" name="last-name" label="Прізвище"></v-text-field>
            <v-text-field v-model="vm.email" prepend-icon="mdi-account" name="Email" label="E-Mail"></v-text-field>
            <v-file-input
                label="Фото профілю"
                filled
                prepend-icon="mdi-camera"
            ></v-file-input>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-btn
              color="blue darken-1"
              text
              @click="dialog = false"
          >
            Відмінити
          </v-btn>

          <v-btn
              color="green darken-1"
              text
              @click="dialog = false"
          >
            Зберегти
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import {mapState} from "vuex";
import PendingDocuments from "./PendingDocuments";
import SignedDocuments from "./SignedDocuments";
export default {
  name: 'Profile',
  components: {SignedDocuments, PendingDocuments},
  data() {
    return {
      dialog: false,
      vm: {},
      type: "pending",
    }
  },
  computed: {
    ...mapState({
      currentUser: state => state.user.currentUser
    }),
    randomId(){
      return (Math.random()*100).toFixed(0);
    },
    isAdmin(){
      if(!this.currentUser.role) return false;
      return this.currentUser.role.includes("admin");
    }
  },
  mounted() {
    this.$store.dispatch("user/getUserInfo").then((result)=>{
      console.log(result)
    })
  },
  methods: {
  },
}
</script>
