<template>
  <v-data-table
      :headers="headers"
      :items="pending | byUser(currentUser.id)"
      :items-per-page="5"
      class="elevation-1"
  >
    <template v-slot:item.documentId="{ item }">
      <name-slot
          :item="item"
      />
    </template>
    <template v-slot:item.sender="{ item }">
      <sender-slot
          :item="item"
      />
    </template>
    <template v-slot:item.createdAt="{ item }">
      <sent-at-slot
          :item="item"
      />
    </template>
    <template v-slot:item.actions="{ item }">
      <actions-slot
          :item="item"
      />
    </template>
  </v-data-table>
</template>

<script>
import ActionsSlot from "./Slots/ActionsSlot";
import NameSlot from "./Slots/NameSlot";
import SentAtSlot from "./Slots/SentAtSlot";
import SenderSlot from "./Slots/SenderSlot";
import {mapState} from "vuex";
export default {
name: "PendingDocuments",
  components: {SentAtSlot, ActionsSlot, NameSlot, SenderSlot},
  filters: {
    byUser: (array, id) => {
      return array.filter(item => item.recipient === id);
    }
  },
  data() {
    return {
      headers: [
        {
          text: 'Назва',
          value: 'documentId',
        },
        { text: 'Відправлено в', value: 'createdAt' },
        { text: 'Відправник', value: 'sender' },
        { text: 'Дії', value: 'actions', sortable: false },
      ],
    }
  },
  computed: {
    ...mapState({
      pending: state => state.sentDocument.listPending,
      currentUser: state => state.user.currentUser,
    })
  },
  mounted() {
  this.$store.dispatch("sentDocument/listPending");
  },
}
</script>

<style scoped>

</style>