<template>
  <div>
    <v-data-table
        :headers="headers"
        :items="signed | byUser(currentUser.id)"
        :items-per-page="5"
        class="elevation-1"
    >
      <template v-slot:item.documentId="{ item }">
        <name-slot
            :item="item"
        />
      </template>
      <template v-slot:item.sender="{ item }">
        <sender-slot
            :item="item"
        />
      </template>
      <template v-slot:item.createdAt="{ item }">
        <sent-at-slot
            :item="item"
        />
      </template>
      <template v-slot:item.actions="{ item }">
        <v-btn
            color="green darken-1"
            text
            @click="showSignature(item)"
        >
          Підпис
        </v-btn>
      </template>
    </v-data-table>
    <v-dialog
        v-model="dialog"
        max-width="600"
    >
      <v-card>
        <v-card-title class="headline">
          Підпис
        </v-card-title>
        <v-card-text>
          <img :src="currentSignature" alt="signature">
        </v-card-text>
        <v-card-actions>
          <v-btn
              color="green darken-1"
              text
              @click="dialog = false"
          >
            ОК
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import ActionsSlot from "./Slots/ActionsSlot";
import NameSlot from "./Slots/NameSlot";
import SentAtSlot from "./Slots/SentAtSlot";
import SenderSlot from "./Slots/SenderSlot";
import {mapState} from "vuex";
export default {
name: "SignedDocuments",
  components: {SentAtSlot, ActionsSlot, NameSlot, SenderSlot},
  filters: {
    byUser: (array, id) => {
      return array.filter(item => item.recipient === id);
    }
  },
  data() {
    return {
      headers: [
        {
          text: 'Назва',
          value: 'documentId',
        },
        { text: 'Відправлено в', value: 'createdAt' },
        { text: 'Відправник', value: 'sender' },
        { text: 'Дії', value: 'actions', sortable: false },
      ],
      dialog: false,
      currentSignature: null,
    }
  },
  computed: {
    ...mapState({
      signed: state => state.sentDocument.listSigned,
      currentUser: state => state.user.currentUser,
    })
  },
  mounted() {
  this.$store.dispatch("sentDocument/listSigned");
  },
  methods: {
    showSignature(item) {
      this.dialog = true;
      this.currentSignature = item.signature;
    }
  },
}
</script>

<style scoped>

</style>