<template>
  <div>
    <v-btn
        icon
        color="indigo"
        @click="download"
    >
      <v-icon>mdi-content-save</v-icon>
    </v-btn>
    <v-btn
        icon
        color="indigo"
        @click="remove"
    >
      <v-icon color="red">mdi-trash-can</v-icon>
    </v-btn>
    <v-btn
        v-if="isCreated"
        icon
        color="indigo"
        :to="{name: 'NewDocument', params: {type: item.type, id: item._id}}"
    >
      <v-icon>mdi-pencil</v-icon>
    </v-btn>
  </div>
</template>

<script>

export default {
  name: "ActionsSlot",
  props: {
    item: {
      type: Object,
      required: true,
    },
  },
  computed: {
    isCreated() {
      return this.item.type === "created";
    }
  },
  mounted(){
    var callAddFont = function () {
      this.addFileToVFS('times-new-roman-normal.ttf', font);
      this.addFont('times-new-roman-normal.ttf', 'times-new-roman', 'normal');
    };
    jsPDF.API.events.push(['addFonts', callAddFont])
  },
  methods: {
    remove() {
      this.$store.dispatch("document/remove", {id: this.item._id})
    },
    download(){
      if(this.isCreated){
        const doc = new jsPDF();
        doc.setFont("times-new-roman", "normal");
        doc.fromHTML(this.item.content, 15, 15);

        doc.save(this.item.name);
        return true;
      } else {
        const link = document.createElement("a");
        link.href = `http://localhost:3000/attachments/${this.item.fileId}`;
        link.target = "_blank";
        link.download = this.item.name;
        link.click();
      }
    },
  },
}
</script>

<style scoped>

</style>