<template>
  <div>{{name}}</div>
</template>

<script>
export default {
  name: "AuthorSlot",
  props: {
    item: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      name: ""
    }
  },
  mounted() {
    this.$store.dispatch("user/getById", {id: this.item.authorId}).then((response)=>{
      this.name = `${response.lastName} ${response.firstName}`;
    })
  }
}
</script>

<style scoped>

</style>