<template>
  <div><v-badge v-for="tag in item.tags" :content="tag" inline/></div>
</template>

<script>

export default {
  name: "TagsSlot",
  props: {
    item: {
      type: Object,
      required: true,
    },
  },
}
</script>

<style scoped>

</style>