<template>
  <div>{{item | toType}}</div>
</template>

<script>
export default {
  name: "TypeSlot",
  filters: {
    toType: (item) => {
      const {type} = item;
      return type.charAt(0).toUpperCase() + type.slice(1);
    }
  },
  props: {
    item: {
      type: Object,
      required: true,
    },
  },
}
</script>

<style scoped>

</style>